RewriteEngine On
Options -MultiViews
RewriteBase /omvix/

# serve existing files/dirs directly
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# everything else -> index.php
RewriteRule ^ index.php [L,QSA]
